@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");

@import "bootstrap/dist/css/bootstrap.min.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Fira Code", monospace;
  background-color: var(--bg-dark);
}

:root {
  /* background colors */
  --bg-dark: #282c33;

  /* text and border colors */
  --textColor-danger: #c778dd;
  --textColor-grey: #abb2bf;
  --textColor-white: #ffffff;
}

.danger__color {
  color: var(--textColor-danger);
}

.info {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;

  color: var(--textColor-grey);
}

.title {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;
  color: var(--textColor-white);
}
