@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Fira Code", monospace;
}

:root {
  /* background colors */
  --bg-dark: #282c33;

  /* text and border colors */
  --textColor-danger: #c778dd;
  --textColor-grey: #abb2bf;
  --textColor-white: #ffffff;
}
